<p>KC bug https://issues.jboss.org/browse/KEYCLOAK-7774 test case</p>

<a target="_blank" [routerLink]="1">Subres 1</a><br />
<a target="_blank" [routerLink]="2">Subres 2</a><br />
<a target="_blank" [routerLink]="3">Subres 3</a><br />
<a target="_blank" [routerLink]="4">Subres 4</a><br />
<a target="_blank" [routerLink]="5">Subres 5</a><br />
<a target="_blank" [routerLink]="6">Subres 6</a><br />
<a target="_blank" [routerLink]="7">Subres 7</a><br />
<a target="_blank" [routerLink]="8">Subres 8</a><br />
<a target="_blank" [routerLink]="9">Subres 9</a><br />
<a target="_blank" [routerLink]="10">Subres 10</a><br />


